{% extends 'core/base.html' %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<!--Reset Password-->
<div class="container p-5">
	<h1 class="mt-3"> 
		{{ title }}
	</h1>
	<hr>
	<p>{{ _("¿Olvidaste tu contraseña?")}} </p>
	<p>{{ _("Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva.") }}</p>
	<form method="POST">
		{% csrf_token %}

		{{ password_reset_form|crispy }}

		<button class="btn btn-secondary my-3" type="submit">{{ _("Enviar correo electrónico") }}</button>
	</form>
</div>

{% endblock %}